{% extends 'base.html' %}

{%block 'titulo'%}titulo del conteudo {% endblock %}

{%block 'conteudo'%} 

<h1> Conteudo da pagina </h1>

<div>
    <ul>
        <li>Bibliografia</li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint a, ratione praesentium odio nemo atque. Nostrum beatae voluptas illum iusto ipsam, officiis, fugit maiores adipisci consequatur cumque, sequi magni nisi.</p>
        <li>historia</li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium aspernatur est nulla. Facere accusamus placeat soluta. Vel consequuntur a ea! Obcaecati consequuntur explicabo quo nemo ex, amet perferendis impedit labore?</p>
        <li>Estudos</li>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias iste recusandae delectus totam asperiores, ratione officiis debitis, temporibus iure doloremque architecto dolores culpa enim earum fuga vel quae itaque quam?</p>
    </ul>
</div>

{%endblock%}